@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #2b5876 1.84%, #4e4376 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #3A6073 -13.86%, #16222A 99.55%);
    --color-bg: #fefefe;
    --color-nav: #011526;
    --color-footer: #011526;
    --color-primary: #f2ae2e;
    --color-pry-lg-100: #ffdf00;
    --color-pry-lg-150: #f2cf66;
    --color-secoundry: #021226;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}