*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body{
  background-color: var(--color-bg);
}

button{
  text-transform: none !important;
}

.logInform{
display: flex;
justify-content: center;
text-align: center;
}

.marginauto{
  margin: auto !important;
  padding:0.5rem;
}

.stripe-div button{
  background-color: rgb(33 37 41);
  border: none;
  color: white;
  margin-top: 10px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
